/* Fondo traslucido */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
}

.overlayVisible {
  pointer-events: auto;
  z-index: 2;
  opacity: 1;
}

/* contenedor del modal */
.modal-login-box {
  position: relative;
  bottom: 650px;
  background-color: var(--background);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  opacity: 0;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

.modalVisible {
  bottom: 0px;
  opacity: 1;
}

/* Logo */
.logo-image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* titulo inicia sesion */
.modal-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* boton google */
.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  border: none;
  border-radius: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 15px;
  box-shadow: var(--shadow);
  transition: background-color 0.3s ease;
}

/* imagen google */
.google-button img {
  width: 20px;
  height: 20px;
}

.google-button:hover {
  background-color: #f5f5f5;
}

/* separador */
.separador-login {
  height: 1.6px;
  width: 100%;
  background-color: #fbbd08;
  border: none;
  margin: 20px 0 10px 0;
  display: block;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error_login {
  display: block;
  color: var(--principalRed);
  font-size: 1rem;
  height: 1rem;
  margin-bottom: 10px;
}

/* formulario inicio de sesion */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

/* input */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group label {
  font-weight: bold;
  font-size: 0.95rem;
}

/* estilo campo de texto */
.input-group input {
  /* font-weight: 600; */
  padding: 12px;
  border-radius: 5px;
  border: #ffffff00 0.5px solid;
  box-shadow: var(--shadow);
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease;
}

.input-group input::placeholder {
  font-weight: 600;
}

.input-group input:focus {
  border: #aaaaaa9c 0.5px solid;
}

.input-group input.error {
  border: 0.5px solid var(--principalRed);
}

.error-message {
  color: var(--principalRed);
  font-size: 0.9rem;
  height: 0.9rem;
}

/* estilo contrsena */
.password-wrapper {
  position: relative;
  width: 100%;
}

/* estilo input contrasena */
.password-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  height: 41px;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

/* estilado boton mostrar contrasena */
.toggle-password {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--principalRed);
  font-size: 18px;
}

/* boton inicia rsesion */
.button-login {
  padding: 12px;
  background-color: var(--principalGreen);
  color: var(--background);
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 170px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.button-login:hover {
  background-color: #2e7446;
}

.register-text {
  font-weight: 600;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 12px;
}

.register-text:last-child {
  margin-top: 0;
}

/* estilado palabra registrate */
.register-text .highlight {
  color: var(--principalYellow);
  text-decoration: underline;
  cursor: pointer;
}

/* Estilos para animacion de rotacion */

.card {
  perspective: 800px;
  transform-style: preserve-3d;
  transition: transform 0.65s ease;
  transform: rotateY(0);
  display: flex;
  justify-content: center;
  width: 100%;
}

.card.flipped {
  transform: rotateY(180deg);
}

.face {
  height: 100%;
  backface-visibility: hidden;
}

.restoreFace {
  transform: rotateY(180deg);
  opacity: 1;
  position: absolute;
  bottom: 0;
}

.button-cancel {
  padding: 12px;
  background-color: var(--principalRed);
  color: var(--background);
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 170px;
  display: block;
  margin: 0 auto;
}

.button-cancel:hover {
  background-color: #c62828;
}

.button-group {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.button-login:disabled {
  cursor: not-allowed;
  background-color: #346646;
}

.container_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 30px;
}

.simple_loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #f9fafb9c;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

.container_spinner {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
