* {
  box-sizing: border-box;
}

.category-card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 12px;
  width: 200px;
  height: 100px;
  cursor: pointer;
  margin-top: 40px;
  transition: all 0.2s ease-in-out;
}

.category-card:hover {
  transform: translateY(-3px);
  background-color: var(--background);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.category-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 70px;
  background-color: var(--principalRed);
  color: var(--principalRed);
  background-color: #ffcccc;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 1);
  transition: all 0.2s ease-in-out;
}

.category_icon {
  height: 2.2rem;
  width: 2.2rem;
  font-size: 100px;
  transition: all 0.2s ease-in-out;
}

.category-card:hover .category_icon {
  color: white;
}

.category-icon-container:hover {
  color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0, 1);
}

.category-card:hover .category-icon-container {
  background-color: var(--principalRed);
  transition: all 0.3s ease;
  color: var(--background);
}

.category-name {
  font-family: var(--Inter);
  font-size: 16px;
}
