:root {
  --principalRed: #f8333c;
  --principalYellow: #fcab10;
  --principalGreen: #44af69;
  --background: #faf8f9;
  --beige: #ebe8d8;
  --backgroundDark: #242424;
  --lightBlack: #313131;
  --lightGray: #d9d9d9;
  --shadow: -1px 7px 5px -3px rgba(0, 0, 0, 0.1);
}
