@import url(../../utils/colors/colors.css);
.layout_container {
  display: grid;
  grid-template-rows: 50px, auto, 10px;
}
.header_container {
  background-color: var(--background);
  height: 100px;
}
.main_container {
  background-color: var(--background);
  padding-top: 50px;
  height: 607px;
}
.footer_container {
  height: 30px;
}
