@import url(../../utils/colors/colors.css);
@import url(../../utils/fonts/fonts.css);

.footer_container_hola {
  background-color: var(--beige);
  font-family: var(--Inter);
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

#footer_container_hola {
  height: 30px;
  background-color: var(--beige);
  font-family: var(--Inter);
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3bro {
  font-weight: 400;
  font-size: 15px;
}
