.employee-home {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
}

.employee-home .breadcrumb {
  margin-left: 90px;
  align-self: flex-start;
  font-size: 0.875rem;
  font-weight: 600;
  color: black;
}
