@import url(../../utils/colors/colors.css);
@import url(../../utils/fonts/fonts.css);

/* #holabro {
  background-color: var(--beige) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
} */

.holabro > h3 {
  font-family: var(--Inter);
  font-size: 15px;
  font-weight: 400px;
}

.holabro {
  height: 100%;
  background-color: var(--beige);
  display: flex;
  justify-content: center;
  align-items: center;
}
