@import url(../../utils/colors/colors.css);

.containerModal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
  flex: 1;
  gap: 8px;
  padding: 24px;
  box-shadow: var(--shadow);
  background-color: var(--background);
  position: relative;
  z-index: 2;
  animation: appear 0.3s ease-in forwards;
}

.containerModal.closing {
  transform: translateY(-80px);
  opacity: 0;
  animation: disappear 0.3s ease-out forwards;
}

.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.overlayModal.closing {
  opacity: 0;
  pointer-events: none;
}

.containerTop {
  display: flex;
  flex: 0.1;
}

.sectionTitle {
  height: auto;
  flex: 0.9;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    var(--principalYellow),
    var(--principalYellow)
  );
  background-position: 0 100%;
  background-size: 400px 2px;
  background-repeat: no-repeat;
}

.sectionTitle .title {
  font-size: 2rem;
  font-weight: 600;
}

.sectionCloseBtn {
  height: auto;
  display: flex;
  flex: 0.1;
  align-items: start;
  justify-content: end;
}

.containerList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 0.9;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 8px 0px 8px 8px;
}

.btnClose {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--principalRed);
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 100px;
  transform: rotate(45deg);
}

.noNotifications {
  user-select: none;
  display: flex;
  flex: 0.9;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: rgb(0, 0, 0, 0.3);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-80px);
  }
}
