.home_container {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-content: center;
  overflow: auto;
}

section {
  /* width: 100%;
  min-height: 650px; */

  width: 100%;
  height: calc(100vh - 120px);
}

.categories {
  padding-left: 20px;
}
